@use "/src/app/color-variables.scss";

.header {
  width: 100%;
  height: 100px;
  background-color: color-variables.$secondaryBlue;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      font-size: 36px;
      color: color-variables.$textWhite;
      margin-right: 30px;
    }
  }
}
