<app-header></app-header>
<main class="main">
  <div class="main__box">
    <div class="main__box-container">
      <select
        class="main__box-container-select"
        #firstCurrency
        (click)="setBaseCurrency(firstCurrency.value)"
      >
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
      </select>
      <p class="main__box-container-to">-></p>
      <select
        class="main__box-container-select"
        #secondCurrency
        (click)="setSecondCurrency(secondCurrency.value)"
      >
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <button class="main__box-btn" (click)="convert()">Submit</button>
    <div class="main__box-result">
      <p>1 {{ firstCurrency.value }}</p>
      <p>=</p>
      <p>{{ result }} {{ secondCurrency.value }}</p>
    </div>
  </div>
</main>
